body {
    margin: 0;
}

.container {
    padding: 10px 10%;
}

nav {
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

nav .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .menu ul li a {
    color: white;
    text-decoration: none;
    padding: 30px 17px;
    display: inline-block;
}

nav .menu ul li a:hover {
    color: #fe320a;
}

.red-color {
    color: #fe320a;
}

header {
    background: url("images/header.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    clear: both;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: -1;
}

h1 {
    font-size: 45px;
}

button {
    background: #fe320a;
    border: none;
    padding: 12px 25px;
    color: white;
    font-weight: 1000;
    cursor: pointer;
}

.header {
    text-align: center;
}

.header hr {
    border: none;
    height: 2px;
    background: #fe320a;
    width: 10%;
}

.header h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
}

.header h2::after {
    content: "";
    clear: both;
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #fe320a;
    position: absolute;
    top: 113%;
    left: 49%;
}

.about {
    display: flex;
}

.about .pic {
    width: 25%;
    margin-right: 2%;
    position: relative;
}

.about .pic .social {
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
}

.about .pic .social h3 {
    margin: 10px 0;
}

.about .pic .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.about .pic .social ul li a {
    color: white;
    background: rgba(0, 0, 0, .8);
    margin: 5px;
    padding: 8px 9px;
    display: inline-block;
    border-radius: 50%;
    transition: .5s;
}

.about .pic .social ul li a:hover {
    background: white;
    color: black;
}

.about .pic img {
    width: 100%;
}

.about .text {
    width: 70%;
}

.video {
    background: url("images/video.png");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
    position: relative;
    z-index: 3;
}

.video::before {
    content: "";
    clear: both;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: -1;
}

.service .row {
    margin-top: 45px;
    display: flex;
    text-align: center;
}

.skills {
    background: #f3f3f3;
}

.skills .row {
    display: flex;
}

.skills .row .col {
    width: 48%;
    margin: 1%;
}