body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

.video h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.container {
    padding: 10px 10%;
}

nav {
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

nav .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .menu ul li a {
    color: white;
    text-decoration: none;
    padding: 30px 17px;
    display: inline-block;
}

nav .menu ul li a:hover {
    color: #fe320a;
}

.red-color {
    color: #fe320a;
}

header {
    background: url("images/header.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    clear: both;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: -1;
}

h1 {
    font-size: 45px;
}

button {
    background: #fe320a;
    border: none;
    padding: 12px 25px;
    color: white;
    font-weight: 1000;
    cursor: pointer;
}

.header {
    text-align: center;
}

.header hr {
    border: none;
    height: 2px;
    background: #fe320a;
    width: 10%;
}

.header h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
}

.header h2::after {
    content: "";
    clear: both;
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #fe320a;
    position: absolute;
    top: 113%;
    left: 49%;
}

.about {
    display: flex;
}

.about .pic {
    width: 25%;
    margin-right: 2%;
    position: relative;
}

.about .pic .social {
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
}

.about .pic .social h3 {
    margin: 10px 0;
}

.about .pic .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.about .pic .social ul li a {
    color: white;
    background: rgba(0, 0, 0, .8);
    margin: 5px;
    padding: 8px 9px;
    display: inline-block;
    border-radius: 50%;
    transition: .5s;
}

.about .pic .social ul li a:hover {
    background: white;
    color: black;
}

.about .pic img {
    width: 100%;
}

.about .text {
    width: 70%;
}

.video {
    background: url("images/video.png");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
    position: relative;
    z-index: 3;
}

.video::before {
    content: "";
    clear: both;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: -1;
}

.service .row {
    margin-top: 45px;
    display: flex;
    text-align: center;
}

.skills {
    background: #f3f3f3;
}

.skills .row {
    display: flex;
}

.skills .row .col {
    width: 48%;
    margin: 1%;
}

.skills .row .col .pro {
    margin: 20px 0;
}

.skills .row .col .pro .out {
    height: 16px;
    border-radius: 8px;
    background: rgba(0, 0, 0, .8);
    position: relative;
    text-align: right;
    color: white;
    font-size: 14px;
}

.skills .row .col .pro .out .in {
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 0, 0, .8);
    top: 50%;
    left: 0;
    position: absolute;
    transform: translate(0, -50%);
}

.skills .row .col .pro .out .one {
    width: 60%;
}

.skills .row .col .pro .out .two {
    width: 70%;
}

.skills .row .col .pro .out .three {
    width: 80%;
}

.skills .row .col .pro .out .four {
    width: 90%;
}

.protfolio .menu {
    margin: 30px 0;
}

.protfolio .menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.protfolio .menu ul li a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    text-transform: uppercase;
}

.protfolio .row {
    display: flex;
}

.protfolio .row .col .pic {
    position: relative;
}

.protfolio .row .col .pic img {
    width: 100%;
}

.protfolio .row .col {
    width: 31.33%;
    margin: 1%;
}

.protfolio .row .col .pic img:hover+.over {
    display: flex;
}

.protfolio .row .col .over {
    background: rgba(255, 0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 3px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

.team {
    background: #e1e1e1;
}

.team .row {
    display: flex;
}

.team .row .col {
    width: 23%;
    margin: 1%;
}

.team .row .col .pic {
    position: relative;
}

.team .row .col .pic img {
    border-bottom: 10px solid rgba(255, 0, 0, .8);
    width: 100%;
}

.team .row .col .pic img:hover+.over {
    display: block;
}

.team .row .col .pic .over {
    background: rgba(255, 0, 0, .3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 3px;
    position: absolute;
    display: none;
}

.team .row .col .pic .over .social {
    background: rgba(255, 0, 0, .8);
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    text-align: center;
    color: #f3f3f3;
    padding-bottom: 10px;
}

.team .row .col .pic .over .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.team .row .col .pic .over .social ul a {
    color: #f3f3f3;
    font-size: 20px;
    margin: 0 5px;
}

.team .row .col .pic .over .social h3 {
    margin: 10px 0;
}

.blog .row {
    display: flex;
}

.blog .row .col {
    width: 31.33%;
    margin: 1%;
    box-shadow: 2px 2px 10px gray;
}

.blog .row .col img {
    width: 100%;
}

.blog .row .col .info {
    padding: 15px;
}

.blog .row .col .info button {
    background: black;
}

.contact {
    background-image: url("images/blog/bg.png");
    background-size: cover;
    position: relative;
    z-index: 1;
}

.contact::after {
    content: '';
    clear: both;
    display: block;
    background: rgba(0, 0, 0, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.contact form {
    margin: 20px 0;
}

.contact form input {
    width: 47%;
}

.contact form .input {
    display: flex;
    justify-content: space-between;
}

.contact input,
.contact textarea {
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    outline: none;
}

.contact textarea {
    width: 98%;
    margin: 15px 0;
}

footer {
    background: rgba(0, 0, 0, .8);
    height: 50px;
}

footer .row {
    display: flex;
    justify-content: space-between;
}

footer .row .col .menu ul {
    list-style: none;
}

footer .row .col .menu,
.copy p {
    display: flex;
    color: white;
}

footer .row .col .menu,
p a {
    text-decoration: none;
    color: #e1e1e1;
}

.abc {
    background-image: url("images/bg.png");
    height: 340px;
    background-size: cover;
    text-align: center;
    color: #e1e1e1;
    position: relative;
    z-index: 1;
}

.abc::after {
    content: "";
    clear: both;
    display: block;
    background: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}

.abc .show {
    margin-top: 176px;
}